In [3]:
basket = ["Apple", "Banana", "Cherry", "Mango"]  
basket.insert(2, "Grapes")
basket

['Apple', 'Banana', 'Grapes', 'Cherry', 'Mango']

In [5]:
data = [10, 20, [30, 40, 50], 60, 70] 
data[2][1] = 45
data

[10, 20, [30, 45, 50], 60, 70]

In [6]:
nums = [3, 6, 9, 12, 15, 18, 21]
print(list(reversed(nums[2:5])))

[15, 12, 9]

In [8]:
numbers = [5, 3, 8, 5, 10, 5, 12, 5]
for i in numbers:
    if (i == 5):
        numbers.remove(i)
numbers

[3, 8, 10, 12]

In [22]:
list1 = [8, 3, 1, 7]  
list2 = [4, 9, 2, 6]
list1.extend(list2)
list1.sort()
list1

[1, 2, 3, 4, 6, 7, 8, 9]

In [11]:
colors = ("Red", "Green", "Blue", "Yellow")
list_colors = list(colors)
list_colors[1] = "cyan"
colors = tuple(list_colors)
colors

('Red', 'cyan', 'Blue', 'Yellow')

In [14]:
names = ["Alice", "Bob", "Charlie", "David", "Eve"] 
names.index("Charlie")

2

In [34]:
nums_tuple = (4, 2, 4, 6, 4, 8, 4, 10)
count = nums_tuple.count(4)
count

4

In [16]:
nums_tuple = (4, 2, 4, 6, 4, 8, 4, 10)
count = 0
for i in nums_tuple:
    if(i == 4):
        count += 1
count

4

In [17]:
values = [10, 20, 30, 40, 50]
temp = values[0]
values[0] = values[-1]
values[-1] = temp
values

[50, 20, 30, 40, 10]

In [18]:
values = []
for i in range(1,10):
    k = i**2
    values.append(k)
values

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [60]:
del my_tuple

In [69]:
my_tuple = (1, 2, 3, 4, 5)
print(tuple(reversed(my_tuple)))

(5, 4, 3, 2, 1)

In [29]:
data = [23, 45, 67, 12, 89, 34]  
print(max(data))
print(min(data))

89
12

In [32]:
nums = [10, 20, 30, 40, 50, 60, 70] 
print(nums[::2])

[10, 30, 50, 70]

In [35]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]  
nested_list = nested_list[0]+nested_list[1]+nested_list[2]
nested_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
list_a = [1, 2, 3, 4, 5, 6]  
list_b = [4, 5, 6, 7, 8, 9]
common = []
for i in list_a:
    for j in list_b:
        if(i == j):
            common.append(i)
common

[4, 5, 6]

In [70]:
del sorted

In [71]:
scores = [78, 55, 92, 30, 88, 62]
print(list(sorted(scores[::-1])))

[30, 55, 62, 78, 88, 92]

In [56]:
my_tuple = (1, 2, 3) 
print(my_tuple*3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [63]:
numbers = [1, 2, 2, 3, 4, 4, 5, 6, 6]  
for i in numbers:
    a = numbers.count(i)
    if a>1:
        numbers.remove(i)
numbers

[1, 2, 3, 4, 5, 6]

In [66]:
words = ["Hello", "World", "Python", "Programming"]
words.insert(2,"Amazing")
words

['Hello', 'World', 'Amazing', 'Python', 'Programming']

In [68]:
pairs = [("a", 1), ("b", 2), ("c", 3)]
print(dict(pairs))

{'a': 1, 'b': 2, 'c': 3}