In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect('school.db')
cursor = conn.cursor()

In [4]:
cursor.execute(''' 
    CREATE TABLE IF NOT EXISTS students (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL,
            age INTEGER NOT NULL,
            grade TEXT NOT NULL
    )
''')

In [6]:
student_data = [
    (1, "mani", 22, "A"),
    (2, "honey", 22, "B"),
    (3, "bunny", 23, "C"),
]

cursor.executemany('''
    INSERT INTO students (id, name, age, grade) VALUES (?, ?, ?, ?)
''', student_data)

In [7]:
cursor.execute('''
    SELECT * FROM students
''')
cursor.fetchall()

[(1, 'mani', 22, 'A'), (2, 'honey', 22, 'B'), (3, 'bunny', 23, 'C')]

In [8]:
cursor.execute('''
    delete from students where id = 3
''')
cursor.fetchall()

[]

In [10]:
cursor.execute('''
    SELECT * FROM students
''')
cursor.fetchall()

[(1, 'mani', 22, 'A'), (2, 'honey', 22, 'B')]

In [12]:
cursor.execute('''
    SELECT count(*) FROM students
''')
cursor.fetchone()[0]

2

In [13]:
conn.commit()

In [14]:
conn.close()

In [30]:
import pickle

In [19]:
class Student:

    def __init__(self, name, roll_number, marks):
        self.name = name
        self.roll_number = roll_number
        self.marks = marks

    def __repr__(self):
        return( f"Student(name='{self.name}', roll_number={self.roll_number}, self.marks={self.marks})")

In [20]:
s1 = Student('Anil', 112222, {'maths': 85, "science":90})
s2 = Student('Sunil', 112223, {'maths': 100, "science":95})

In [21]:
s1

Student(name='Anil', roll_number=112222, self.marks={'maths': 85, 'science': 90})

In [22]:
s2

Student(name='Sunil', roll_number=112223, self.marks={'maths': 100, 'science': 95})

In [23]:
sessions = [s1,s2]

In [24]:
with open("students.pkl", "wb") as f:
    pickle.dump(sessions, f)

In [25]:
try:
    with open("students.pkl", "rb") as f:
        loaded_sessions = pickle.load(f)
    for session in loaded_sessions:
        print(session)
except Exception as e:
    print(f"Exception {e}")

Student(name='Anil', roll_number=112222, self.marks={'maths': 85, 'science': 90})
Student(name='Sunil', roll_number=112223, self.marks={'maths': 100, 'science': 95})

In [28]:
x = int(input('maths marks: '))
y = int(input('science marks: '))
loaded_sessions[0].marks["maths"] = x
loaded_sessions[0].marks["science"] = y

In [29]:
for session in loaded_sessions:
    print(session)

Student(name='Anil', roll_number=112222, self.marks={'maths': 90, 'science': 100})
Student(name='Sunil', roll_number=112223, self.marks={'maths': 100, 'science': 95})