In [17]:
# Write a function to return the sum of individual digits 
# Example: sum_individual(123) -> 6

def sum_individual(n):
    return sum(int(digit) for digit in str(n))
sum_individual(123)

6

In [14]:
# Create a list of squares of numbers between 1 and 10
# Use map()

f1 = map(lambda x: x**2, range(1,11))
list(f1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
# List all three digit numbers between 100 and 1000 whose sum of individual digits 
# equate to 11. Use filter()

f2 = filter(lambda y:sum(int(digit) for digit in str(y)) == 11, range(100,1000))
list(f2)

[119,
 128,
 137,
 146,
 155,
 164,
 173,
 182,
 191,
 209,
 218,
 227,
 236,
 245,
 254,
 263,
 272,
 281,
 290,
 308,
 317,
 326,
 335,
 344,
 353,
 362,
 371,
 380,
 407,
 416,
 425,
 434,
 443,
 452,
 461,
 470,
 506,
 515,
 524,
 533,
 542,
 551,
 560,
 605,
 614,
 623,
 632,
 641,
 650,
 704,
 713,
 722,
 731,
 740,
 803,
 812,
 821,
 830,
 902,
 911,
 920]

In [16]:
# Given L = ["red", "green", "blue", "yellow"]
# Sort the list in descending order with respect to the last charecter of the element
# output -> ['yellow', 'green', 'blue', 'red']

L = ["red", "green", "blue", "yellow"]
L.sort(key = lambda x: x[-1], reverse = True)
L

['yellow', 'green', 'blue', 'red']